* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}


/* LOGIN */
.logo {
    height: 50px;
    width: 50px;
}

.login-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    border: 1px solid #bdbcbc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-form-header h3 {
    margin: 0;
}

.login-form-header p {
    margin-top: 0;
}

.login-form-body {
    display: flex;
    flex-direction: column;
}

.login-form-children input {
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #f4f4f4;
    margin-bottom: 5px;
    flex: 1;
}

.login-form-children button {
    padding: 10px;
    border-radius: 3px;
    background-color: #171717;
    color: white;
    width: 100%;
    margin-top: 5px;
    border: none;
}





/* DASHBOARD */
.dashboard-div, .sales-div {
    display: flex;
    min-height: 100vh;
}

.sidebar, .content {
    padding: 20px;
}

.sidebar {
    width: 250px;
    background-color: #f6f7f9;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    margin-bottom: 10px;
}

.sidebar-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    flex: 1;
}

.sidebar-nav a {
    text-decoration: none;
    color: #171717;
}

.nav-item {
    padding: 10px;
    border: 1px solid #171717;
    border-radius: 3px;
}

.nav-item:hover {
    background-color: #bdbcbc;
}

.sidebar-footer {
    display: flex;
}

.sidebar-footer button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #171717;
    color: white;
}

.content {
    flex: 1;
}